$bg-white: #ffffff;
$bg-gray: #E4E7F0;
$text-white: #ffffff;
$text-puple: #8833FF;
$text-GrayBlue50: #4D5E80;
$bg-GrayBlue85: #C3CAD9;
$text-GrayBlue70: #7D8FB3;
$text-GrayBlue96: #F2F3F5;
$text-GrayBlue60: #6B7A99;
$bg-GrayBlue95: #EDEFF2;
$text-GreyBlue80: #ADB8CC;
$bg-modal: #F5F6F7;
$bg-orange: #FF6633;
$bg-white: #ffffff;
$bg-gray: #E4E7F0;
$text-white: #ffffff;
$text-GrayBlue50: #4D5E80;
$bg-GrayBlue85: #C3CAD9;
$bg-GrayBlue97:#F5F6F7;
$text-GrayBlue70: #7D8FB3;
$text-GrayBlue96: #F2F3F5;
$text-blue: #002881;
$bg-orange: #FF6633;
